
.dashboard{
    display: grid;
    grid-template-columns: 0.7fr 0.3fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr;
    /* grid-template-columns: 500px 500px 500px;
    grid-template-rows: 500px 500px 500px; */
    grid-gap: 20px;
    grid-template-areas: 
    "pageViewTile maptile maptile maptile"
    "daytile daytile weektile weektile"
    "retentionTile retentionTile retentionTile retentionTile"
    "osTile osTile osTile osTile"
    "eventTile eventTile eventTile eventTile"
    ;
    height: 100%;
    width:85vw;
    padding: 8%;
    background-color: #FEFEFE;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 0 10px #000;
}
.column{
    height: 100%;
    width: 100%;
    padding: 1%;
}
.divTitle{
    font-weight: 500;
    font-size: 150%;
    margin: auto;
}
.daytile, .weektile, .maptile, .retentionTile, .eventTile, .pageViewTile, .osTile{
    margin: 1%;
    display: flex;
    max-height: 70vh;
    height: 100%;
    max-width: 75vw;
    flex-direction: column;
    justify-content: center;
    height:96%;
    padding: 5%;
    background-color:rgb(251, 251, 251);
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 0 10px #000;
}
.daytile{
    grid-area: daytile;
    /* grid-row: 2 / 3;
    grid-column: 1 / 2; */
    background-color: rgb(251, 251, 251);
}
.osTile{
    grid-area: osTile;
}
.osChartContainer{
    display:flex;
    flex-direction: row;
    height:80%;
}
.pageViewTile{
    grid-area: pageViewTile;
}
.weektile{
    grid-area: weektile;
    /* grid-row: 2 / 3;
    grid-column: 2 / 3; */
    
    background-color: rgb(251, 251, 251);
}
.eventCard{
    width:95%;
    height:5%;
    margin: 5px;
    margin-bottom: 0px;
    padding: 1%;
    background-color:rgb(247, 247, 247);
    box-sizing: border-box;
    border-radius: 4px;
    word-wrap: break-word;
    box-shadow: 0 0 10px #000;
  }
  .logFilters {
      width: 30%;
  }
  .logFilters div {
      width:100%;
  }
  
  .eventContent{
    font-size: 1rem;
  }
  .eventContainer{
    display: flex;
    flex-direction: column;
    align-items:  flex-end;
    justify-content: flex-start;
    height:100%;
    width: 100%;
    max-height: 100%;
    overflow: 'auto';
    overflow-y: scroll;
  }
  .eventName{
    font-size: 1rem;
    font-weight: 500;
  }
.eventTile{
    grid-area: eventTile;
    /* grid-row: 4 / 5;
    grid-column: 1 / 3; */
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(251, 251, 251);
}
/* .eventContainer{
    flex-direction: row;
    justify-content: space-between;
} */
.maptile{
    /* grid-row: 1/2;
    grid-column: 1 / 3; */
    height: 100%;
    grid-area: maptile;
}
.retentionTile{
    grid-area: retentionTile;
    /* grid-row: 3 / 4;
    grid-column: 1 / 3; */
    z-index: 6;
    max-height: 60vh;
    margin: 0%;
    background-color: rgb(255, 253, 250);
}
@media(min-width: 2600px) {
    .dashboard{
        margin-left: -30vw;
    }
}
@media(max-width: 2600px) and ( min-width:2350px) {
    .dashboard{
        margin-left: -28vw;
    }
}
@media(max-width: 2350px) and ( min-width:2150px) {
    .dashboard{
        margin-left: -26vw;
        background-color: blue;
    }
}
@media(max-width: 2150px) and ( min-width:1900px) {
    .dashboard{
        margin-left: -23vw;
        background-color: rgb(41, 41, 41);
    }
}
@media(max-width: 1900px) and ( min-width:1600px) {
    .dashboard{
        margin-left: -18vw;
        background-color: rgb(41, 41, 41);
    }

}
@media(max-width: 1600px) and ( min-width:1400px) {
    .dashboard{
        margin-left: -14vw;
    }
}
@media(max-width: 1400px) and ( min-width:200px) {
    .dashboard{
        margin-left: -14vw;
        grid-template-rows: 1fr 0.8fr 0.5fr 0.5fr 0.5fr 0.8fr ;
        background-color: rgb(41, 41, 41);
        grid-template-columns: 1fr 1fr;
        height: 100%;
        grid-gap: 10px;
        grid-template-areas:
        "maptile maptile"
        "daytile weektile"
        "pageViewTile pageViewTile"
        "osTile osTile"
        "retentionTile retentionTile"
        "eventTile eventTile"
        ;
    }
}
 @media(max-width: 1400px) and ( min-width:800px) {
    .maptile select{
        font-size: 90%;
        background-color: rgb(111, 167, 204);
        width: 16%;
    }
    .dashboard{
        margin-left: -10vw;
    }
}
 @media(max-width: 1200px) and ( min-width:780px) {
    .maptile select{
        font-size: 90%;
        background-color: rgb(111, 167, 204);
        width: 16%;
    }
    .dashboard{
        height:100%;
        background-color: rgb(111, 167, 204);
        margin-left: -3vw;
    }
}
 @media(max-width: 780px) and ( min-width:600px) {
    .maptile select{
        font-size: 90%;
        background-color: rgb(111, 167, 204);
        width: 16%;
    }
    .dashboard{
        height:100%;
        background-color: rgb(32, 89, 128);
        margin-left: -4vw;
    }
}
 @media(max-width: 599px) and ( min-width:200px)  {
    .maptile select{
        font-size: 90%;
        background-color: rgb(111, 167, 204);
        width: 30%;
    }
    .maptile h1{
        font-size: 100%;
    }
    .dashboard{
        height: 100%;
        background-color: rgb(32, 89, 128);
        margin-left: 5vw;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "maptile"
        "daytile"
        "weektile"
        "pageViewTile"
        "osTile"
        "retentionTile"
        "eventTile"
        ;
    }
    .osTile .divTitle{
        font-size: 80%;
    }
    .osTile .legend{
        display:none;
    }
}
.dashboard{
    background-color: rgb(57, 58, 59);
}
/*
@media(max-width: 800px) and ( min-width:200px) {
    .dashboard{
        margin-left: 4vw;
    }
    .maptile select{
        font-size: 70%;
        width: 16%;
    }
}
@media(orientation: landscape) and (max-height: 500px) and (min-width: 800px) {
    .dashboard{
        background-color: chartreuse;
        margin-left: -3vw;
        height: 100%;
    }
    .maptile select{
        font-size: 90%;
        width: 16%;
    }
}
@media(orientation: landscape) and (max-height: 500px) and (min-width: 709px) {
    .dashboard{
        background-color: rgb(104, 143, 66);
        margin-left: -2vw;
        height: 100%;
    }
    .maptile select{
        font-size: 90%;
        width: 16%;
    }
}
@media(orientation: landscape) and (max-height: 500px) and (max-width: 359px) {
    .dashboard{
        background-color: rgb(104, 143, 66);
        margin-left: -2vw;
        height: 100%;
    }
    .maptile select{
        font-size: 90%;
        width: 16%;
    }
}
@media (max-width: 400px){
    .maptile h1{
        font-size: 85%;
    }
} */